.home-container {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 18px;
  font-family: 'roboto';
}

.nav-top {
  background-color: #0a043d;
  height: 18vh;
  color: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-family: 'roboto';
}

.date-time {
  display: flex;
  margin-left: 10px;
}
.clock {
  font-size: 20px;
}
.wish {
  font-size: 20px;
}

.sub {
  font-size: 16px;
}

.bell {
  font-size: 20px;
}

.calender {
  font-size: 20px;
  margin-left: 80px;
}

.day {
  font-family: 'roboto';
  font-weight: 500px;
  font-size: 20px;
  margin-left: 5px;
}

.time {
  font-family: 'roboto';
  font-weight: 500px;
  font-size: 20px;
  margin-left: 5px;
}

.calender-container {
  display: flex;
  margin-top: 20px;
  margin-right: 50px;
}

.time-container {
  display: flex;
  margin-top: 20px;
  margin-right: 50px;
}

.bell {
  display: flex;
  margin-top: 20px;
}

/*.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 60px;
  }*/
nav {
  color: white;
  padding: 10px 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: -40px; /* Negative margin to overlap with the nav */
  position: relative;
  z-index: 3;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 210px;
  height: 160px;
}

.book {
  font-size: 20px;
}
