.dropdown-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 600px;
  margin-top: 50px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.top-part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.dropdown {
  width: 180px;
  height: 60px;
  font-family: 'roboto';
  font-size: 30px;
}
.data {
  margin-top: 40px;
}

.date {
  font-size: 20px;
  color: blueviolet;
  font-family: 'roboto';
  margin-top: 10px;
}

.heading {
  font-family: 'roboto';
  font-size: 15px;
  margin-top: 10px;
}
.description {
  color: grey;
  font-family: 'roboto';
  margin-top: 10px;
}
.head {
  color: #0a043d;
  font-family: 'roboto';
  font-size: 24px;
}
